---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Check for installation in {{ kubelogin_install_exe }}...
  become: true
  ansible.builtin.stat:
    path: '{{ kubelogin_install_exe }}'
  changed_when: false
  register: kubelogin_binary
- name: If not installed, install
  when: not kubelogin_binary.stat.exists
  block:
    - name: Downloading {{ kubelogin_url }}
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: '{{ kubelogin_url }}'
        dest: '{{ kubelogin_tmp_archive }}'
        mode: '644'
        checksum: '{{ kubelogin_checksum }}'
    - name: Mkdir {{ kubelogin_install_dir }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ kubelogin_install_dir }}'
        state: directory
        mode: '755'
    - name: Install unarchivedeps
      ansible.builtin.include_role:
        name: andrewrothstein.unarchivedeps
    - name: Unarchiving {{ kubelogin_tmp_archive }} to {{ kubelogin_install_dir }}
      become: true
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ kubelogin_tmp_archive }}'
        dest: '{{ kubelogin_install_dir }}'
        creates: '{{ kubelogin_install_exe }}'
  always:
    - name: Rm -rf {{ kubelogin_tmp_archive }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ kubelogin_tmp_archive }}'
        state: absent
- name: Linking {{ kubelogin_install_link }} to {{ kubelogin_install_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ kubelogin_install_exe }}'
    dest: '{{ kubelogin_install_link }}'
    state: link
